/*-- scss:defaults --*/

// use default as the base
$theme: "default" !default;

$primary:       #263121 !default;
$secondary:     #353E31 !default;

$body-bg: #FEFFFD !default;
$body-color: #1E271A !default;
$link-color: #85B258 !default;

$navbar-bg: #263121 !default;
$navbar-fg: #FCFFFB !default;

$footer-bg: #263121 !default;
$footer-fg: #FCFFFB !default;

$font-family-monospace: Courier New !default;

/*-- scss:rules --*/

/* Smaller banner at the top */
.quarto-title-banner {
  background-color: #263121;
  padding-top: 1em;
  padding-bottom: 0em;
  margin-bottom: 0;
}

/* Lines on home page between posts */
div.quarto-post {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #C29CB7 5%, #263121 5%, #263121 95%, #C29CB7 95%) 5;
}

/* category blocks on posts */
.quarto-category {
  color: #FFDFE5;
}

/* metadata on posts */
.quarto-title-meta-heading {
  color: #CAD3C1;
}
.quarto-title-block {
  background-color: #263121;
  padding-bottom: 1em;
}
.quarto-title-meta {
  color: #FCFFFB;
}

/* center figure captions and reduce whitespace */
.figure-caption {
  text-align: center;
  margin-top: 0;
  color: #1E271A;
}

/* scale thumbnail image */
div.quarto-post .thumbnail img {
  display: block;
  margin-left: auto;
  height: 200px;
  width: 200px;
}

/* pink for folded code */
details > summary{
  color: #C29CB7;
}

/* no underline for h2 */
h2 {
  border-bottom: 0px;
  margin-top: 1.5rem;
}

/* move pagination boxes closer */
ul.pagination li {
  padding-right: .25em;
}

/* square pagination boxes */
.page-item:first-child .page-link {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

/* Adds some space when going back to text from footnote so the header doesn't cover it */
.footnote-ref {
  scroll-margin-top: 75px;
}

/* presentation slides */
.presentation_slide {
  border: #000000; 
  border-style: solid; 
  border-width: 1px; 
  float:left; 
  margin-right:10px; 
  margin-bottom:10px;
  width: 50%;
}
.presentation_slide p {
  margin-bottom: 0;
}

/* Stop annoying white bar between nav-bar and header */
body {
  background-image: linear-gradient(to bottom, #263121 66px, #FEFFFD 66px);
}