/* css styles */

/* nav bar background */
.navbar {
  background-image: url('nav_bar.png');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}